{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    
    {% if formulario.errors %}
    
        <p style="color: red;">Estan mal los datos</p>
    {% endif %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Profesor</h1>
                    <h4>Nombre: <i>{{ profesor.nombre}}</i></h4>
                    <h4>Apellido: <i>{{ profesor.apellido}}</i></h4>
                    <h4>Profesion: <i>{{ profesor.profesion}}</i></h4>
                    <h4>Email: <i>{{ profesor.email}}</i></h4>
                    
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock %}