{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    {% if formulario.errors %}
        
    <p style="color: red;">Estan mal los datos</p>
    
    {% endif %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Estudiante</h1>
                    <FONT FACE="impact" SIZE=6 COLOR="white">
                        <p class="mb-5">Espacio de Estudiante</p>
                    </FONT>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<form action="" method="POST">{% csrf_token %}
    <table>
         {{ formulario.as_table }}
    </table>
        
    <input type="submit" value="Enviar">
    
</form>

    {% block informacionDeEstudiante %}



    {% endblock %}


{% endblock %}