{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Formularios</h1>
                    <FONT FACE="impact" SIZE=6 COLOR="white">
                        <p class="mb-5">A continuacion podras cargar o buscar datos</p>
                    </FONT>
                    
                </div>
            </div>
        </div>
    </div>


</header>
<head>
    <div>
        <nav class="navbar navbar-light bg-light static-top">
            <p align="center">
                <h1 >Buscar Datos</h1>
            </p>
            <div text-align="center" class="container">
                <a class="btn btn-primary" href="{% url 'DatosdeCursos' %}">BD-Curso</a>
                <a class="btn btn-primary" href="{% url 'DatosdeEstudiantes' %}">BD-Estudiante</a>
                <a class="btn btn-primary" href="{% url 'DatosdeEntregables' %}">BD-Entregable</a>
                <a class="btn btn-primary" href="{% url 'DatosdeProfesores' %}">BD-Profesor</a>
            </div>
        </nav>
    </div>
    <div>
        <nav class="navbar navbar-light bg-light static-top">
            <p align="center">
                <h1 >Cargar Datos</h1>
            </p>
            <div text-align="center" class="container">
                <a class="btn btn-primary" href="{% url 'cursoNuevo' %}">Curso</a>
                <a class="btn btn-primary" href="{% url 'estudianteNuevo' %}">Estudiante</a>
                <a class="btn btn-primary" href="{% url 'entregableNuevo' %}">Entregable</a>
                <a class="btn btn-primary" href="{% url 'profesorNuevo' %}">Profesor</a>
            </div>
        </nav>
    </div>


</head>
{% endblock %}

