{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    
    {% if formulario.errors %}
    
    <p style="color: red;">Estan mal los datos</p>

    {% endif %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-5">Entregables</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<ul>
    {% for entregable in model %}
    <li>
        <p>Nombre: {{entregable.nombre}}</p>
        <p>Fecha: {{entregable.fecha_de_entrega}}</p>
        <p>
            <a href="{% url 'detailEntregable' entregable.id %}">Ver</a>
            <a href="{% url 'entregableEditar' entregable.id %}">Editar</a>
            <a href="{% url 'entregableDelete' entregable.id %}">Borrar</a>
        </p>        
 
    </li>
    {% endfor %}
</ul>


{% endblock %}