
{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Base de datos de Profesores</h1>
                    <FONT FACE="impact" SIZE=6 COLOR="white">
                        <p class="mb-5">Ingrese el apellido a buscar</p>
                    </FONT>
                    
                </div>
            </div>
        </div>
    </div>
   

</header>
<form action="/AppWeb/buscarProfesor" method="GET">
    <p><input type="text" name="apellido" id="apellido"></p>
    <input type="submit" value="buscarProfesor">
</form>

{% endblock %}