{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    
    {% if formulario.errors %}
    
    <p style="color: red;">Estan mal los datos</p>
    
    {% endif %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Entregable</h1>

                    {% if entreglables_encontrados %}

                    <ul>
                        {% for entregable in entreglables_encontrados %}
                        <li>Nombre: {{entregable.nombre}}</li>
                        <li>Fecha de entrega:{{entregable.fecha_de_entrega}}</li>
                        {% endfor%}
                    </ul>
                    {% else %}

                        <h4>No se encontraro datos</h4>

                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}