{% if curso %}
        
        <p>Estamos busncado el: {{camada}}</p>

        <ul>
            {% for cursos in curso %}
                <li> {{curso.nombre}} </li>
                <li> {{curso.camada}} </li>
            {% endfor %}
        </ul>

        
{% elif estudiate %}
    
        <p>Estamos busncado el: {{nombre}}</p>

        <ul>
            {% for estudiates in estudiate %}
                <li> {{estudiate.nombre}} </li>
                <li> {{estudiate.apellido}} </li>
                <li> {{estudiate.email}} </li> 
            {% endfor %}

        </ul>

      
{% elif profesor %}
    
    <p>Estamos busncado el: {{nombre}}</p>

    <ul>
        {% for profesors in profesor %}
            <li> {{profesor.nombre}} </li>
            <li> {{profesor.apellido}} </li>
            <li> {{profesor.email}} </li>
            <li> {{profesor.profesion}} </li> 
        {% endfor %}

    </ul>

{% elif entregable %}
    
    <p>Estamos busncado el: {{nombre}}</p>

    <ul>
        {% for entregables in entregable %}
            <li> {{entregable.nombre}} </li>
            <li> {{entregable.fecha_de_entrega}} </li>
            <li> {{entregable.entregado}} </li>
        {% endfor %}

    </ul>


{% else %}
    <p>No hay datos</p>
{%% end if }

    <p style="color: red;">{{respuesta}}</p>

