{% extends "AppWeb/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    
    {% if formulario.errors %}
    
    <p style="color: red;">Estan mal los datos</p>
    
    {% endif %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Profesor</h1>
                         
                    {% if profesores_encontrados %}

                    <ul>
                        {% for profesor in profesores_encontrados %}
                            <li>Nombre: {{profesor.nombre}}</li>
                            <li>Apellido:{{profesor.apellido}}</li>
                            <li>Profesion: {{profesor.profesion}}</li>
                            <li>Emial: {{profesor.email}}</li>
                        {% endfor%}
                    </ul>
                    {% else %}
                    
                        <h4>No se encontraro datos</h4>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}